$width-mobile: 576px;
$width-tablet: 768px;
$width-desktop: 1200px;

@font-face {
  font-family: "General Sans";
  src: url("./assets/fonts/GeneralSans-Variable.woff2") format("woff2"),
    url("./assets/fonts/GeneralSans-Variable.woff") format("woff"),
    url("./assets/fonts/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("./assets/fonts/Satoshi-Variable.woff") format("woff"),
    url("./assets/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  --color-back: #f0f0f0;
  --color-front: #ffffff;
  --color-text: #707070;
  --color-full: #000000;
  --color-brand: #8b6b61;

  &.dark {
    --color-back: #181818;
    --color-front: #282828;
    --color-text: #a8a8a8;
    --color-full: #ffffff;
  }

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "General Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  background-color: var(--color-back);
  color: var(--color-full);

  &.noscroll {
    overflow: hidden;

    @media (min-width: $width-tablet) {
      overflow: auto;
    }
  }
}

main {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

footer {
  margin-top: auto;
}

img {
  image-rendering: optimizeQuality;
  object-fit: cover;
  object-position: center;
  position: relative;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;

  + p {
    margin-top: 1.5rem;
  }
}

p {
  color: var(--color-text);
  font-size: 1.125rem;
  line-height: 1.5rem;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

/* Navigation ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */

.navigation {
  display: flex;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1000;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.125);
  background-color: var(--color-front);
  padding: 0 1.5rem;
  max-height: 100vh;

  &-logo {
    display: flex;
    align-items: center;
    mix-blend-mode: difference;
    padding: 0.5rem 0;
    height: 3rem;

    @media (min-width: $width-tablet) {
      height: 4.5rem;
      padding: 0.75rem 0;
    }

    &-item {
      height: 100%;
      width: auto;

      &:nth-child(2) {
        margin-left: 0.25rem;
        height: 1.5rem;

        @media (min-width: $width-tablet) {
          margin-left: 0.5rem;
          height: 2rem;
        }
      }
    }
  }

  &-icon {
    mix-blend-mode: difference;
    padding: 0.75rem 0;
    width: 1.5rem;
    cursor: pointer;

    @media (min-width: $width-tablet) {
      padding: 1.5rem 0;
    }

    @media (min-width: $width-desktop) {
      display: none;
    }
  }

  &-menu {
    display: none;
    flex-direction: column;
    padding: 3rem 0;
    width: 100%;
    max-height: calc(100vh - 3rem);
    overflow: scroll;

    @media (min-width: $width-tablet) {
      flex-direction: row;
      justify-content: space-between;
      border-top: 1px solid var(--color-back);
      padding: 0;
    }

    .open > & {
      display: flex;
    }

    @media (min-width: $width-desktop) {
      display: flex;
      width: auto;
      border-top: none;
      justify-content: flex-end;
    }

    &-item {
      font-family: "Satoshi", sans-serif;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.5rem;

      @media (min-width: $width-tablet) {
        font-size: 0.875rem;
        line-height: 1.5rem;
        padding: 1.5rem 0;
      }

      &:nth-child(n + 2) {
        margin: 1.5rem 0 0 0;

        @media (min-width: $width-tablet) {
          margin: 0 0 0 1.5rem;
        }
      }
    }

    &-icon {
      width: 1.5rem;
      mix-blend-mode: difference;
      cursor: pointer;
      margin: 1.5rem 0 0 0;

      @media (min-width: $width-tablet) {
        padding: 1.5rem 0;
        margin: 0 0 0 1.5rem;
      }
    }
  }
}

/* Header ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url("./assets/images/hero-aufnahme-pflege.jpg");
  color: #ffffff;
  padding: 1.5rem;

  @media (min-width: $width-desktop) {
    min-height: 720px;
  }

  &-subtitle {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;

    @media (min-width: $width-tablet) {
      letter-spacing: 0.5rem;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &-title {
    font-size: 2.625rem;
    line-height: 3rem;
    font-weight: 900;

    @media (min-width: $width-tablet) {
      font-size: 4.25rem;
      line-height: 4.625rem;
    }
  }

  &-caption {
    margin-top: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.5rem;

    @media (min-width: $width-tablet) {
      display: flex;
      width: 100%;
      max-width: 480px;
    }

    &-top,
    &-bottom {
      color: #ffffff;

      @media (min-width: $width-tablet) {
        white-space: nowrap;
      }
    }

    &-line {
      height: 1px;
      width: 100%;
      background-color: #ffffff;
      margin: 0.75rem 0;

      @media (min-width: $width-tablet) {
        margin: 0.75rem;
      }
    }
  }

  &-button {
    font-weight: 500;
    margin-top: 3rem;
    background-color: #ffffff;
    color: #000000;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
  }
}

/* Anniversary ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */

.anniversary {
  @media (min-width: $width-tablet) {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1.5rem;
    gap: 0.75rem 1.5rem;
  }

  @media (min-width: $width-desktop) {
    margin-top: 9rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  &-title,
  &-content {
    padding: 1.5rem;

    @media (min-width: $width-tablet) {
      border-radius: 0.25rem;
    }
  }

  &-title {
    background-color: var(--color-brand);
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 2rem;

    @media (min-width: $width-desktop) {
      position: relative;
      z-index: 10;
      grid-column: 1/6;
      grid-row: 2;
    }
  }

  &-image {
    @media (min-width: $width-tablet) {
      border-radius: 0.25rem;
      grid-column: 2;
      grid-row: span 2;
      height: 100%;
    }

    @media (min-width: $width-desktop) {
      grid-row: 1/-1;
      grid-column: 4/-1;
    }
  }

  &-content {
    background-color: var(--color-front);
    border-radius: 0.25rem;

    @media (min-width: $width-desktop) {
      position: relative;
      z-index: 10;
      grid-column: 1/5;
      grid-row: 3;
    }

    &-subtitle {
      font-family: "General Sans";
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    &-caption {
      margin-top: 0.5rem;
      font-family: "General Sans";
      font-weight: 600;
      font-weight: 1.125rem;
      line-height: 1.5rem;
    }

    &-text {
      margin-top: 1.5rem;
    }
  }
}

/* Milestones ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */

.milestones {
  margin-top: 6rem;

  @media (min-width: $width-desktop) {
    margin-top: 9rem;
  }

  &-title {
    padding: 0 1.5rem;
    font-size: 2.625rem;
    line-height: 3rem;
    text-align: center;
  }

  &-glide {
    margin-top: 3rem;
    width: 100vw;
    max-width: 1440px;
    cursor: grab;

    .glide__slide {
      display: flex;
      position: relative;
      min-height: 50vh;

      @media (min-width: $width-tablet) {
        min-height: 480px;
      }
    }

    .glide__bullets {
      margin-top: 1.5rem;
      padding: 0 1.5rem;
      display: flex;
    }

    .glide__bullet {
      width: 100%;
      height: 0.125rem;
      background: var(--color-text);

      &--active {
        @extend .glide__bullet;
        background: var(--color-full);
      }

      &:nth-child(n + 2) {
        margin-left: 0.25rem;
      }
    }
  }

  &-image {
    position: absolute;
    inset: 0;
    height: 100%;
  }

  &-content {
    position: relative;
    z-index: 10;
    margin-top: auto;
    padding: 1.5rem;

    &-headline {
      background-color: var(--color-brand);
      color: white;
      padding: 0.75rem 1.5rem;
      border-radius: 0.25rem;
      font-weight: 600;
      width: max-content;
    }

    &-text {
      margin-top: 0.25rem;
      background-color: var(--color-front);
      border-radius: 0.25rem;
      padding: 0.75rem 1.5rem;
      font-size: 0.875rem;

      @media (min-width: $width-tablet) {
        max-width: 480px;
      }
    }
  }
}

/* Services ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */

.services {
  @extend .milestones;

  @media (min-width: $width-tablet) {
    padding: 0 1.5rem;
  }

  @media (min-width: $width-desktop) {
    margin-top: 9rem;
  }

  &-title {
    @extend .milestones-title;
  }

  &-subtitle {
    margin-top: 0.5rem;
    padding: 0 1.5rem;
    text-align: center;
    line-height: 2rem;
    color: var(--color-text);
    font-size: 1.5rem;
    font-weight: 600;
  }

  &-content {
    margin-top: 3rem;
    display: grid;
    gap: 0.25rem;

    @media (min-width: $width-tablet) {
      border-radius: 0.25rem;
      overflow: hidden;
    }

    @media (min-width: $width-tablet) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.5rem;
    }

    &-item {
      position: relative;
      padding: 4.5rem 1rem;

      &-image {
        position: absolute;
        inset: 0;
        height: 100%;

        @media (min-width: $width-tablet) {
          border-radius: 0.25rem;
        }
      }

      &-headline,
      &-text {
        color: #ffffff;
        position: relative;
        z-index: 10;
      }

      &-headline {
        font-size: 2rem;
        line-height: 2.375rem;
        text-align: center;
      }

      &-text {
        font-weight: 300;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

/* Custom ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */

.custom {
  @extend .services;

  &-title {
    @extend .milestones-title;
  }

  &-content {
    margin-top: 3rem;
    display: grid;
    gap: 3rem;

    @media (min-width: $width-tablet) {
      grid-template-columns: 1fr 1fr;
      padding: 0 1.5rem;
      gap: 1.5rem 0.75rem;
    }

    @media (min-width: $width-desktop) {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(5, auto);
    }

    &-image {
      @media (min-width: $width-tablet) {
        height: 100%;
        border-radius: 0.25rem;
      }

      @media (min-width: $width-desktop) {
        grid-column: 4/12;
        grid-row: 1/5;
      }
    }

    &-list {
      @media (min-width: $width-tablet) {
        grid-row: 1;
        grid-column: 1;
        z-index: 10;
      }

      @media (min-width: $width-desktop) {
        grid-row: 2;
        grid-column: 1/5;
      }

      &-item {
        display: flex;
        align-items: center;
        font-size: 1.125rem;
        line-height: 1.5rem;
        background-color: var(--color-front);
        margin: 0 0.25rem;
        border-radius: 0.25rem;
        font-weight: 500;

        &:nth-child(n + 2) {
          margin-top: 0.25rem;
        }

        i {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0.75rem;
          background-color: var(--color-brand);
          padding: 0.75rem;
          width: 3rem;
          text-align: center;
          line-height: 1;
          color: #ffffff;
          font-family: "Satoshi", sans-serif;
          font-size: 1.5rem;
          font-weight: 600;
          font-style: normal;
          border-radius: 0.25rem;
        }
      }
    }

    &-text {
      padding: 1.5rem;
      background-color: var(--color-front);

      @media (min-width: $width-tablet) {
        border-radius: 0.25rem;
        grid-column: 1/-1;
      }

      @media (min-width: $width-desktop) {
        grid-column: 7/-1;
        grid-row: 3/-1;
        z-index: 10;
      }
    }
  }
}

/* Tips ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */

.tips {
  @extend .services;

  &-title {
    @extend .milestones-title;
  }

  &-list {
    margin-top: 3rem;

    @media (min-width: $width-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.75rem 1.5rem;
    }

    @media (min-width: $width-desktop) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &-item {
      @extend .custom-content-list-item;
      min-height: 6rem;
      position: relative;
      padding: 1.5rem 1.5rem 1.5rem 5.25rem;

      i {
        width: 3rem;
        position: absolute;
        inset: 1.5rem;
        background-image: url("./assets/images/note.jpg");
      }
    }
  }
}

/* Comments ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */

.comments {
  @extend .services;

  @media (min-width: $width-tablet) {
    padding: 0;
  }

  &-title {
    @extend .milestones-title;
  }

  &-glide {
    width: 100vw;
    max-width: 1440px;
    cursor: grab;

    .glide__slides {
      padding: 3rem 0 6rem;

      @media (min-width: $width-tablet) {
        padding: 3rem 0 9rem;
      }
    }

    .glide__slide {
      margin: auto 0;
      filter: blur(0.125rem);
      transition: all 200ms;
      opacity: 0.666;

      &--active {
        filter: blur(0);
        opacity: 1;
        box-shadow: 0px 1.5rem 3rem rgba(0, 0, 0, 0.083333);
      }
    }
  }

  &-item {
    background-color: var(--color-front);
    padding: 1.5rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-style: italic;
  }
}

/* Contact ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */

.contact {
  @extend .services;
  margin-top: 0;
  display: grid;
  gap: 0.25rem;
  margin-bottom: 3rem;

  @media (min-width: $width-tablet) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }

  &-item {
    background-color: var(--color-brand);
    padding: 1.5rem;

    @media (min-width: $width-tablet) {
      border-radius: 0.25rem;
    }

    &-headline,
    &-list,
    &-text {
      color: #ffffff;
    }

    &-headline {
      font-size: 1.5rem;
      line-height: 1;
    }

    &-list {
      margin-top: 1.5rem;
      list-style: none;

      &-item {
        display: flex;
        justify-content: space-between;
      }
    }

    &-text {
      font-size: 0.875rem;

      a {
        text-decoration: underline;
      }
    }
  }
}

/* Footer ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */

.footer {
  background-color: var(--color-front);
  padding: 0.75rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-social {
    display: flex;
    &-link {
      width: 2.5rem;
      padding: 0.75rem 0.5rem;
      height: 3rem;

      &-icon {
        mix-blend-mode: difference;
      }
    }
  }

  &-legal {
    margin-top: 0.75rem;
    display: flex;
    justify-content: center;

    &-link {
      font-weight: 450;
      color: var(--color-text);
      &:nth-child(n + 2) {
        &::before {
          text-align: center;
          user-select: none;
          display: inline-block;
          content: "•";
          width: 0.5rem;
          margin: 0 0.5rem;
          color: var(--color-full);
        }
      }
    }
  }
}

.imprint {
  max-width: 1440px;
  width: 100%;
  margin: 3rem 0;

  @media (min-width: $width-tablet) {
    padding: 0 1.5rem;
  }

  &-content {
    background-color: var(--color-front);

    @media (min-width: $width-tablet) {
      border-radius: 0.25rem;
    }
    &-title {
      background-color: var(--color-brand);
      color: #ffffff;
      padding: 1.5rem;
      font-size: 1.5rem;
      line-height: 2rem;
      padding-right: 9rem;

      @media (min-width: $width-tablet) {
        border-radius: 0.25rem;
      }
    }
    &-text {
      padding: 3rem 1.5rem;
      margin-top: 0;
      strong {
        font-weight: 700;
        font-family: "Satoshi", sans-serif;
        color: var(--color-full);
      }
    }
  }
}
